<%= render "categories/top_nav" %>
<div class="container">
  <%= link_to image_tag("back-arrow.png"), categories_path, class: "back-arrow" %>
  <div class="tasks-today">
    <div class="due-today">
      <h1>Task Due Today</h1>
      <% @tasks.each do |task| %>
        <% if task.deadline == @date %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= task.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= task.deadline.strftime("%m/%d/%Y") %></h6>
            <p class="card-text"><%= task.description%></p>
            <a href="#" class="card-link btn btn-outline-secondary">Delete</a>
            <a href="#" class="card-link btn btn-outline-secondary">View</a>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
    <div class="overdue-task">
      <h1>Over Due Tasks</h1>
      <% @tasks.each do |task| %>
        <% if task.deadline < @date %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= task.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= task.deadline.strftime("%m/%d/%Y") %></h6>
            <p class="card-text"><%= task.description%></p>
            <a href="#" class="card-link btn btn-outline-secondary">Delete</a>
            <a href="#" class="card-link btn btn-outline-secondary">View</a>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>