<%= render "top_nav" %>
<div class="categories">
  <h1 class="title">THE PROGRAMMER'S LIST</h1>
  <div class="category-actions">
    <%= link_to "Add Category", new_category_path, class: "btn btn-outline-secondary" %>
    <%= link_to "Tasks Today", due_today_path, class: "btn btn-outline-secondary" %>
  </div>
  <ul class="category-list">
    <% @categories.each do |category| %>
      <% if category.user_id == current_user.id %>
        <%= link_to category_path(category.id) do %>
          <li class="category-show"><%= category.name %></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <p><%= advice["slip"]["advice"] %></p>
</div>


